body {
  font-family: Helvetica, arial, sans-serif;
}
#container {
  width: 100%;
  background-color: #FFFFFF;
}
#content {
  float: left;
  width: 60%;
  min-width: 500px;
  margin-right: 20%;
  margin-bottom: 100px;
}
#main {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: white;
  padding: 10px 30px;
  margin-top: 0;
}
#informations {
  font-size: 0.7em;
  color: #999999;
}
nav {
  clear: both;
  padding-left: 24%;
}
header {
  width: 100%;
  height: 105px;
  border-bottom-style: dotted;
  border-bottom-color: #DDDDDD;
}
footer {
  clear: both;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
.norm {
  margin: 0;
  padding: 0;
  border: 0;
}
.norm > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
.norm > ul > li {
  padding: 0px;
  margin: 0px;
}
.norm a {
  text-decoration: none;
  color: #555555;
}
.norm a:hover {
  color: #777777;
}
.menuA {
  margin: 0;
  padding: 0;
  border: 0;
}
.menuA > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
.menuA > ul > li {
  padding: 0px;
  margin: 0px;
}
.menuA a {
  text-decoration: none;
  color: #555555;
}
.menuA a:hover {
  color: #777777;
}
.menuA ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menuA ul > li {
  float: left;
}
.menuA a {
  display: block;
  font-size: 0.8em;
  padding: 4px 10px;
}
.menuA a.selected {
  font-weight: bold;
  color: #f25244;
}
.menuA a:hover {
  background-color: #f25244;
  color: #FFFFFF;
}
.menuA a {
  text-transform: uppercase;
  text-align: center;
}
.menuB {
  margin: 0;
  padding: 0;
  border: 0;
}
.menuB > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
.menuB > ul > li {
  padding: 0px;
  margin: 0px;
}
.menuB a {
  text-decoration: none;
  color: #555555;
}
.menuB a:hover {
  color: #777777;
}
.menuB ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menuB ul > li {
  float: left;
}
.menuB a {
  display: block;
  font-size: 0.7em;
  padding: 4px 5px;
}
.menuB a.selected {
  font-weight: bold;
  color: #f25244;
}
.menuB a:hover {
  background-color: #f25244;
  color: #FFFFFF;
}
.menuB a {
  text-transform: uppercase;
  text-align: center;
}
#navigation-files {
  float: left;
  width: 20%;
  min-width: 160px;
  padding-top: 43px;
}
#navigation-chapters {
  position: fixed;
  top: 148px;
  right: 10px;
  padding: 4px;
  width: 20%;
  min-width: 160px;
  background-color: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 6px;
}
#navigation-chapters h2 {
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 5px;
  font-size: 0.9em;
}
#navigation-chapters h2 > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#navigation-chapters h2 > ul > li {
  padding: 0px;
  margin: 0px;
}
#navigation-chapters h2 a {
  text-decoration: none;
  color: #555555;
}
#navigation-chapters h2 a:hover {
  color: #777777;
}
#navigation-chapters h3 {
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 5px;
  font-size: 0.7em;
}
#navigation-chapters h3 > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#navigation-chapters h3 > ul > li {
  padding: 0px;
  margin: 0px;
}
#navigation-chapters h3 a {
  text-decoration: none;
  color: #555555;
}
#navigation-chapters h3 a:hover {
  color: #777777;
}
#site-name {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  height: 50px;
}
#site-name > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#site-name > ul > li {
  padding: 0px;
  margin: 0px;
}
#site-name a {
  text-decoration: none;
  color: #555555;
}
#site-name a:hover {
  color: #777777;
}
#site-name a {
  display: block;
  color: #00b0d2;
  font-size: 2em;
  font-weight: 900;
}
#site-name a:hover {
  color: #00b0d2;
}
#site-slogan {
  color: #00b0d2;
  font-size: 1em;
  font-weight: 700;
}
#subtitles {
  float: right;
}
#subtitles span {
  display: block;
  text-align: right;
}
#primary-directory {
  padding-right: 0em;
  font-size: 1em;
  margin-right: 0.6em;
}
#secondary-directory {
  font-size: 0.8em;
  letter-spacing: 0.8em;
}
#current-directory {
  display: none;
  clear: both;
  color: #333333;
  font-size: 0.8;
  font-weight: 700;
}
#breadcumb {
  clear: both;
  width: 100%;
  background-color: #005058;
  margin: 0;
  padding: 0;
  border: 0;
}
#breadcumb > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#breadcumb > ul > li {
  padding: 0px;
  margin: 0px;
}
#breadcumb a {
  text-decoration: none;
  color: #555555;
}
#breadcumb a:hover {
  color: #777777;
}
#breadcumb a {
  font-size: 0.75em;
  color: #ffffff;
}
#breadcumb a:before {
  content: " » ";
}
#breadcumb a:hover {
  color: #ffffff;
  font-weight: 800;
}
#primary-links {
  margin: 0;
  padding: 0;
  border: 0;
}
#primary-links > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#primary-links > ul > li {
  padding: 0px;
  margin: 0px;
}
#primary-links a {
  text-decoration: none;
  color: #555555;
}
#primary-links a:hover {
  color: #777777;
}
#primary-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#primary-links ul > li {
  float: left;
}
#primary-links a {
  display: block;
  font-size: 0.8em;
  padding: 4px 10px;
}
#primary-links a.selected {
  font-weight: bold;
  color: #f25244;
}
#primary-links a:hover {
  background-color: #f25244;
  color: #FFFFFF;
}
#primary-links a {
  text-transform: uppercase;
  text-align: center;
}
#secondary-links {
  margin: 0;
  padding: 0;
  border: 0;
}
#secondary-links > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#secondary-links > ul > li {
  padding: 0px;
  margin: 0px;
}
#secondary-links a {
  text-decoration: none;
  color: #555555;
}
#secondary-links a:hover {
  color: #777777;
}
#secondary-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#secondary-links ul > li {
  float: left;
}
#secondary-links a {
  display: block;
  font-size: 0.7em;
  padding: 4px 5px;
}
#secondary-links a.selected {
  font-weight: bold;
  color: #f25244;
}
#secondary-links a:hover {
  background-color: #f25244;
  color: #FFFFFF;
}
#secondary-links a {
  text-transform: uppercase;
  text-align: center;
}
#directories-list {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 30px;
}
#directories-list > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#directories-list > ul > li {
  padding: 0px;
  margin: 0px;
}
#directories-list a {
  text-decoration: none;
  color: #555555;
}
#directories-list a:hover {
  color: #777777;
}
#directories-list a {
  display: block;
  font-size: 0.9em;
  padding: 4px;
}
#directories-list a.selected {
  font-weight: bold;
  color: #f25244;
}
#directories-list a:hover {
  background-color: #f25244;
  color: #FFFFFF;
}
#directories-list a {
  width: 100%;
}
#files-list {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 30px;
}
#files-list > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#files-list > ul > li {
  padding: 0px;
  margin: 0px;
}
#files-list a {
  text-decoration: none;
  color: #555555;
}
#files-list a:hover {
  color: #777777;
}
#files-list a {
  display: block;
  font-size: 0.9em;
  padding: 4px;
}
#files-list a.selected {
  font-weight: bold;
  color: #00b0d2;
}
#files-list a:hover {
  background-color: #00b0d2;
  color: #FFFFFF;
}
#files-list a {
  width: 100%;
}
#chapters-list {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 10px;
}
#chapters-list > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#chapters-list > ul > li {
  padding: 0px;
  margin: 0px;
}
#chapters-list a {
  text-decoration: none;
  color: #555555;
}
#chapters-list a:hover {
  color: #777777;
}
#chapters-list a {
  display: block;
  font-size: 0.7em;
  padding: 4px;
}
#chapters-list a.selected {
  font-weight: bold;
  color: #96c34b;
}
#chapters-list a:hover {
  background-color: #96c34b;
  color: #FFFFFF;
}
#chapters-list a {
  width: 90%;
}
#index_files_list {
  width: 90%;
  overflow: auto;
  margin: auto;
}
#index_files_list table {
  width: 100%;
  border-collapse: collapse;
}
#index_files_list table tr {
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
}
#index_files_list table td {
  margin: 0;
  padding: 0;
  border: 0;
  width: 50%;
  vertical-align: top;
  border-style: none;
  padding: 5px;
}
#index_files_list table td > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#index_files_list table td > ul > li {
  padding: 0px;
  margin: 0px;
}
#index_files_list table td a {
  text-decoration: none;
  color: #555555;
}
#index_files_list table td a:hover {
  color: #777777;
}
#index_files_list table td a {
  display: block;
  font-size: 1.2em;
  padding: 4px;
}
#index_files_list table td a.selected {
  font-weight: bold;
  color: #00b0d2;
}
#index_files_list table td a:hover {
  background-color: #00b0d2;
  color: #FFFFFF;
}
#index_files_list table td a {
  font-weight: 700;
  width: 90%;
}
#index_files_list table td ul > li a {
  display: block;
  font-size: 0.7em;
  padding: 4px;
}
#index_files_list table td ul > li a.selected {
  font-weight: bold;
  color: #96c34b;
}
#index_files_list table td ul > li a:hover {
  background-color: #96c34b;
  color: #FFFFFF;
}
#index_files_list table td ul > li a {
  font-weight: 500;
  width: 90%;
}
#index_directories_list {
  margin: auto;
  width: 90%;
  overflow: auto;
}
#index_directories_list table {
  width: 100%;
  border-collapse: collapse;
}
#index_directories_list table tr {
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
}
#index_directories_list table td {
  margin: 0;
  padding: 0;
  border: 0;
  width: 50%;
  vertical-align: top;
  border-style: none;
  padding: 5px;
}
#index_directories_list table td > ul {
  list-style-type: none;
  padding: 0px;
  margin: 00px;
}
#index_directories_list table td > ul > li {
  padding: 0px;
  margin: 0px;
}
#index_directories_list table td a {
  text-decoration: none;
  color: #555555;
}
#index_directories_list table td a:hover {
  color: #777777;
}
#index_directories_list table td a {
  display: block;
  font-size: 1.2em;
  padding: 4px;
}
#index_directories_list table td a.selected {
  font-weight: bold;
  color: #f25244;
}
#index_directories_list table td a:hover {
  background-color: #f25244;
  color: #FFFFFF;
}
#index_directories_list table td a {
  font-weight: 700;
  width: 90%;
}
#index_directories_list table td ul > li a {
  display: block;
  font-size: 0.7em;
  padding: 4px;
}
#index_directories_list table td ul > li a.selected {
  font-weight: bold;
  color: #00b0d2;
}
#index_directories_list table td ul > li a:hover {
  background-color: #00b0d2;
  color: #FFFFFF;
}
#index_directories_list table td ul > li a {
  font-weight: 500;
  width: 90%;
}
.pagebreak {
  display: none;
}
div.taskdone {
  padding-left: 3em;
  font-size: 1.2em;
  color: #777777;
}
div.taskdone:before {
  content: "✔ ";
  color: #999999;
  font-size: 0.8em;
  border: 2px solid #999999;
  border-radius: 5px;
  margin-right: 1em;
  padding-left: 2px;
}
div.tasknotdone {
  padding-left: 3em;
  font-size: 1.2em;
  color: #777777;
}
div.tasknotdone:before {
  content: "✔ ";
  color: #FFFFFF;
  font-size: 0.8em;
  border: 2px solid #999999;
  border-radius: 5px;
  margin-right: 1em;
  padding-left: 2px;
}
@media print {
  header {
    width: 100%;
    margin-top: 0.5cm;
    height: 1.5cm;
  }
  footer {
    display: none;
  }
  nav {
    display: none;
  }
  aside {
    display: none;
  }
  img {
    page-break-inside: avoid;
  }
  .pagebreak {
    display: block;
    page-break-after: always;
  }
  #site-name {
    width: 50%;
  }
  #subtitles {
    float: left;
    margin-left: 10%;
  }
  #subtitles span {
    display: block;
    text-align: left;
    color: #555555;
  }
  #container {
    overflow: hidden;
    width: 95%;
    margin: auto;
  }
  #content {
    width: 100%;
  }
  #main {
    padding: 0;
    margin: 0;
  }
}
